# Set the default ros output to warning and higher
log4j.logger.ros=WARN
# Override my package to output everything
# log4j.logger.ros.hector_exploration_controller=WARN
# log4j.logger.ros.hector_exploration_planner=WARN
log4j.logger.ros.mir_autonomous_exploration=DEBUG
log4j.logger.ros.mir_autonomous_exploration.exploration_controller=DEBUG
