<library path="src">
  <class name="YoubotDashboard" type="youbot_dashboard.youbot_dashboard.YoubotDashboard" base_class_type="rqt_gui_py::Plugin">
    <description>
      A Python GUI plugin for displaying a dashboard that displays and interacts with low level youBot states.
    </description>
    <qtgui>
      <label>youBot Dashboard</label>
      <icon type="theme">task-past-due</icon>
      <statustip>A Python GUI plugin for displaying a dashboard that displays and interacts with low level youBot states.</statustip>
    </qtgui>
  </class>
</library>
